<?xml version='1.0' encoding='utf-8'?>
<settings>
  <line-edit name="Left">.25</line-edit>
  <line-edit name="Right">.25</line-edit>
  <line-edit name="Top">.25</line-edit>
  <line-edit name="Bottom">.25</line-edit>
  <line-edit name="Width">6</line-edit>
  <line-edit name="Height">4</line-edit>
  <radio-button name="Inch" />
  <radio-button name="Split" />
  <radio-button name="Pdf" />
  <text-edit>* { margin: 0px; padding: 0px; }
table { height: $HEIGHT$UNITS; width: $WIDTH$UNITS; }
table { page-break-after: always; table-layout: fixed; border-spacing: 0px; }
td { vertical-align: middle; }
img { max-height: $HEIGHT$UNITS; max-width: 100%; }
.front { text-align: center; }
.back { text-align: left; text-size: small; }</text-edit>
</settings>
